body {
    margin: auto;
    padding: 8px;
}

section {
    padding: 10px;
    background-color: blanchedalmond;
}

h1 {
    margin: auto;
    margin-bottom: 10px;
    font-weight: 600;
}

h3 {
    margin: auto;
    margin-bottom: 10px;
}


.card {
    margin: auto;
}

footer {
    background: #f8f9fa;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
}


footer div {
    margin: 8px 0;
}

p {
    padding: 10px;
    margin: auto
}
footer a {
    text-decoration: none;
    color: #0d6efd;
}

.carousel-inner {
    margin: auto;
}
.carousel-item img{
    width: 100px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    border-radius: 10px;
}